.profile_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_container {
  position: relative;
  margin-right: 20px;
}
.img_container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid var(--color-4);
  transition: 0.5s ease-in-out all;
}
.chat_container{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  overflow: hidden;
  height: calc(100vh - 70px);
  width: 100vw;
}
.users_container {
  margin-top: 10px;
  border-right: 2px solid var(--color-6);
  overflow-y: scroll;
  overflow-x: hidden;
}
.user_wrapper {
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}
.user_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user_detail {
  display: flex;
  align-items: center;
}
.user_detail h4 {
  margin-left: 10px;
}
.user_status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.online {
  background: green;
}
.offline {
  background: red;
}
.messages_container {
  position: relative;
  width: 100%;
}
.messages_user {
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid lightblue;
}
.no_conv {
  font-size: 20px;
  color: grey;
  text-align: center;
}

.message_form {
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}
.message_form input {
  margin-left: 20vw;
  width: 40vw;
  /* margin: 10px; */
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
}
.message_form .btn {
  margin-top: -10px;
}
.messages {
  height: calc(100vh - 200px);
  overflow-y: auto;
  border-bottom: 1px solid lightgray;
}
.message_wrapper {
  margin-top: 5px;
  padding: 0px 5px;
}
.message_wrapper p {
  padding: 10px;
  display: inline-block;
  max-width: 50%;
  text-align: left;
  border-radius: 5px;
}
.message_wrapper small {
  display: inline-block;
  margin-top: 15px;
  opacity: 0.8;
}
.message_wrapper.own {
  text-align: right;
}
.me {
  background: greenyellow;
  color: black;
}
.friend {
  background: lightskyblue;
  color: black;
}
.selected_user {
  background: lightcyan;
}
.truncate {
  font-size: 14px;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncate strong {
  margin-right: 10px;
}
.unread {
  margin-left: 10px;
  background: lightgrey;
  color: white;
  padding: 2px 4px;
  border-radius: 10px;
}
.sm_screen {
  display: none;
}
@media screen and (max-width: 767px) {
  .users_container {
    width: 35vw;
  }
  .user_detail{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}